     .museo323{font:23px 'Museo W01 300';}

     .museo512{font:12px 'Museo W01 500';}
     .museo514{font:14px 'Museo W01 500';}
     .museo516{font:16px 'Museo W01 500';}
     .museo517{font:17px 'Museo W01 500';}
     .museo520{font:20px 'Museo W01 500';}
     .museo528{font:28px 'Museo W01 500';}

     .museo714{font:14px 'Museo W01 700';}
     .museo718{font:18px 'Museo W01 700';}
     .museo719{font:19px 'Museo W01 700';}
     .museo731{font:31px 'Museo W01 700';}